  .f1 {font: bold 14pt Arial;color:#000000;}
  .f2 {font: bold 12pt Arial;color:#000000;}
  .f3 {font: bold 13pt Arial;color:#000000;}
  .f4 {font: bold 12pt Arial;text-decoration:underline;color:#000000;}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
}


.left, .right {
  width: 12.5%;
}

.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#footer {
    position: absolute;
    bottom: 0px;
    background-color: AliceBlue ;
    width: 100%;
    text-align: center;
}